
.DataForm .data-point {
    font-weight: 700;
    margin-left: var(--space-half);
}

.DataForm .clear-all {
    margin-left: var(--space);
}

.DataForm .error {
    align-self: center;
    margin-left: var(--space);
    color: red;
}
