.App {
  margin-top: var(--space-x2);
  padding: var(--space-x2);
}

/* Header */
.App .header {
  background-color: var(--platzi-secondary-color);
}

/* Data Form */
.App .data-form-wrapper {
  background-color: azure;
}

/* Chart */
.App .chart-wrapper {
  background-color: azure;
}
